{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Basket{% endblock title %}

<main>

    {% block content %}
    {% block css %}
        <link type="text/css" href="{% static 'style/all.css' %}" rel="stylesheet">
    {% endblock %}
    <style>
        .main{
            margin: 0;
	        padding: 0;
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        min-height: 100vh;
	        font-family: 'Jost', sans-serif;
            background: wheat;
        }
        .wrp{
	        width: 350px;
	        height: 500px;
	        background: violet;
	        overflow: hidden;
            border-radius: 10px;
	        box-shadow: 5px 20px 50px #000;
        }
        input{
	        width: 35%;
	        height: 20px;
	        background: #e0dede;
	        justify-content: center;
	        display: flex;
	        margin: 20px auto;
	        padding: 10px;
	        border: none;
	        outline: none;
	        border-radius: 5px;
        }
        button{
	        width: 60%;
	        height: 40px;
	        margin: 10px auto;
	        justify-content: center;
	        display: block;
	        color: #fff;
	        background: #573b8a;
	        font-size: 1em;
	        font-weight: bold;
	        margin-top: 20px;
	        outline: none;
	        border: none;
	        border-radius: 5px;
	        transition: .2s ease-in;
	        cursor: pointer;
        }
        select {
            font-family: 'Jost', sans-serif;
            width: 60%;
	        height: 40px;
	        font-size: 1em;
	        background: #e0dede;
	        justify-content: center;
	        display: flex;
	        margin: 20px auto;
	        padding: 10px;
	        outline: none;
	        border-radius: 5px;
            text-align: center;
            align-items: center;
            cursor: pointer;
            border: none;
        }
        h4{
	        display: flex;
	        justify-content: center;
	        align-items: center;
            font-size: 40px;
            font-weight: bold;
            color: brown;
            margin-top:30px;
        }
        label{
	        color: #fff;
	        font-size: 25px;
	        justify-content: center;
	        display: flex;
	        margin: 10px;
	        font-weight: bold;
	        cursor: pointer;
	        transition: .5s ease-in-out;
        }
        button:hover{
	        background: #6d44b8;
	        color:red;
        }
    </style>

        <h4>BASKET</h4>
        <div class="main">
            <div class="wrp">
                <form method='POST'>
                    {% csrf_token %}
                    {{ form.as_div }}
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    {% endblock content %}

</main>


